<app-game-settings-modal-dialog #modal [visible]="false">
  <div class="app-modal-header">
    Настройка игры
  </div>
  <div class="app-modal-body">
    <div class="row-cols-1">
      <label for="gamePath">Ссылка на комнату</label>
      <input type="text" class="form-control" id="gamePath" placeholder="" value="http://localhost:4200/waitingRoom/{{crossPageInformation.room}}" readonly required>
      <label for="gameName">Имя комнаты</label>
      <input type="text" class="form-control" id="gameName" placeholder="" value="" required>
    </div>
    <div class="row">
      <div class="col">
        <label for="isPassUsed" class="form-check-label">использовать пароль</label>
        <input type="checkbox" class="form-check" id="isPassUsed">
      </div>
      <div class="col">
        <input type="text" class="form-control" id="gamePassword" placeholder="пароль" value="" required>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Закрыть</button>
      <button type="button" class="btn btn-primary">общий доступ</button>
      <button type="button" class="btn btn-primary" [routerLink]="['/waitingRoom']">начать</button>
  </div>
</app-game-settings-modal-dialog>


<!----------------------------------------------------------------------------------------------------------->
<body class="bg-light">
<div class="container">

  <div class="py-5 text-center">
    <h2>
      <span *ngIf="game">
          {{game.title}}
      </span>
    </h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">

      <form class="card p-2">
        <div class="input-group">
          <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="modal.show()">Начать игру</button>
        </div>
      </form>

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your Games</span>
        <span class="badge badge-secondary badge-pill">0</span>
      </h4>
      <ul class="list-group mb-3" *ngIf="crossPageInformation.currentUser">


        <li class="list-group-item d-flex justify-content-between lh-condensed"
            *ngFor="let game of playedGames">
          <div>
            <h6 class="my-0">{{game.name}}</h6>
            <small class="text-muted">
              <span *ngIf="game.isVin">выиграна</span>
              <span *ngIf="!game.isVin">проиграна</span>
            </small>
          </div>
<!--          <span class="text-muted">счет: {{game.score}}</span>-->
        </li>


<!--        <li class="list-group-item d-flex justify-content-between lh-condensed" (click)="log('fff1')">-->
<!--          <div>-->
<!--            <h6 class="my-0">Игра 1</h6>-->
<!--            <small class="text-muted">проиграна</small>-->
<!--          </div>-->
<!--          <span class="text-muted">счет: 112</span>-->
<!--        </li>-->
<!--        <li class="list-group-item d-flex justify-content-between lh-condensed" (click)="log('fff2')">-->
<!--          <div>-->
<!--            <h6 class="my-0">игра 2</h6>-->
<!--            <small class="text-muted">выиграна</small>-->
<!--          </div>-->
<!--          <span class="text-muted">счет: 112</span>-->
<!--        </li>-->
<!--        <li class="list-group-item d-flex justify-content-between lh-condensed"  (click)="log('fff3')">-->
<!--          <div>-->
<!--            <h6 class="my-0">Игра 3</h6>-->
<!--            <small class="text-muted">проиграна</small>-->
<!--          </div>-->
<!--          <span class="text-muted">счет: 112</span>-->
<!--        </li>-->
<!--        <li class="list-group-item d-flex justify-content-between lh-condensed" (click)="log('fff4')">-->
<!--          <div>-->
<!--            <h6 class="my-0">Игра 4</h6>-->
<!--            <small class="text-muted">выиграна</small>-->
<!--          </div>-->
<!--          <span class="text-muted">счет: 112</span>-->
<!--        </li>-->
<!--        <li class="list-group-item d-flex justify-content-between lh-condensed" (click)="log('fff5')">-->
<!--          <div>-->
<!--            <h6 class="my-0">Игра 4</h6>-->
<!--            <small class="text-muted">остановлена</small>-->
<!--          </div>-->
<!--          <span class="text-muted"></span>-->
<!--        </li>-->
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      <p class="text-sm-left">
        <span *ngIf="game && game.rules">
          {{game.rules}}
        </span>
      </p>
    </div>
  </div>
</div>
</body>
