<div class="container">

  <h1>Room title: Gamers</h1>
  <div class="media text-muted pt-3">
    <div class="col">
      <p class="lead">Room password: 123 </p>
    </div>
    <div class="col">
      <div class="text-right">
        <button type="button" class="btn btn-primary">Копировать пароль</button>
      </div>

    </div>
    <div class="text-right">
      <button type="button" class="btn btn-primary">Копировать ссылку-приглашение</button>
    </div>
  </div>
  <hr class="my-4">


</div>

<div class="container" id="containers">
  <h2 class="mt-4">Participants: 3/6 </h2>
</div>

<div class="container themed-container">
  <table class="table table-striped table-sm">
    <tbody>
    <tr>
      <th><strong class="d-block text-gray-dark">Nightmare</strong></th>
      <th>not ready</th>
    </tr>
    <tr>
      <th><strong class="d-block text-gray-dark">FireArrow</strong></th>
      <th>not ready</th>
    </tr>
    <tr>
      <th><strong class="d-block text-gray-dark">Reappzzter</strong></th>
      <th>not ready</th>
    </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <div class="text-right">
    <button type="button" class="btn btn-primary" (click)="onVoiceChatStarted()">Присоединиться к голосовому чату</button>
    <button type="button" class="btn btn-primary">Готов</button>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary" [routerLink]="['/game']">Начать игру</button>
  </div>
</div>
<div #videoContainer id="videoContainer">

</div>
<video #videoPlayer id="videoPlayer" autoplay></video>
