<app-game-settings-modal-dialog [visible]="checkUser()" #modal>
  <div class="app-modal-header">
    Вход в игру
  </div>
  <div class="app-modal-body">
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="login" name="username" required autofocus>
      <label for="inputEmail">Логин</label>
    </div>
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
      <label for="inputPassword">Пароль</label>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="signIn(); modal.hide()" >Зарегистрироваться</button>
    <button type="button" class="btn btn-primary" (click)="modal.hide(); onEasyStart()">Начать без регистрации</button>
  </div>
</app-game-settings-modal-dialog>

<!-------------------------------------------------------------------------->
<div class="container">

  <h1>Room title: Gamers</h1>
  <div class="media text-muted pt-3">
    <div class="col">
      <p class="lead">Room password: 123 </p>
    </div>
    <div class="col">
      <div class="text-right">
        <button type="button" class="btn btn-primary">Копировать пароль</button>
      </div>

    </div>
    <div class="text-right">
      <button type="button" class="btn btn-primary">Копировать ссылку-приглашение</button>
    </div>
  </div>
  <hr class="my-4">


</div>

<div class="container" id="containers">
  <h2 class="mt-4">Participants: 3/6 </h2>
</div>

<div class="container themed-container">
  <span>
  <table class="table table-striped table-sm">
    <tbody *ngFor="let user of rtcService.usersPeers">
      <tr>
        <th><strong class="d-block text-gray-dark">{{user.user}}</strong></th>
<!--        <th>not ready</th>-->
      </tr>
    </tbody>
  </table>
  </span>
</div>


<div class="container">
  <div class="text-right">
    <button type="button" class="btn btn-primary" (click)="onVoiceChatStarted()">Присоединиться к голосовому чату</button>
    <button type="button" class="btn btn-primary" (click)="modal.show()">Готов</button>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary" [routerLink]="['/game']">Начать игру</button>
  </div>
</div>
<div #videoContainer id="videoContainer">

</div>
<video #videoPlayer id="videoPlayer" autoplay></video>
