<main role="main">

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top"
                   width="100%" height="225"
                   xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" fill="#25ef66"/>
                <image x="0" y="0" width="100%" height="100%" xlink:href="assets/KarkassonTableGame.png" />
              </svg>
              <div class="card-body">
                <p class="card-text">
                  Ваша задача – отстроить средневековое княжество. Выложить дороги, построить монастыри, города, разбить поля и населить их фишками своих людей, получая за каждый завершенный этап баллы.</p>
                  <p>Почувствуйте все «прелести» средневекового землевладения!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/game']">Play</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Find games</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#fffb4b"/>
                <text fill="#777777" dy=".3em" y="50%" x="50%">
                  <tspan text-anchor="middle">Coming soon</tspan>
                </text>
              </svg>
              <div class="card-body">
                <p class="card-text">Поле для новой игры</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/game']">Play</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Find games</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#007dfd"/>
                <text fill="#eceeef" dy=".3em" y="50%" x="50%">
                  <tspan text-anchor="middle">Coming soon</tspan>
                </text>
              </svg>
              <div class="card-body">
                <p class="card-text">Поле для новой игры</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/game']">Play</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Find games</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#f592ff"/>
                <text fill="#777777" dy=".3em" y="50%" x="50%">
                  <tspan text-anchor="middle">Coming soon</tspan>
                </text>
              </svg>
              <div class="card-body">
                <p class="card-text">Поле для новой игры</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/game']">Play</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Find games</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                <text fill="#eceeef" dy=".3em" y="50%" x="50%">
                  <tspan text-anchor="middle">Coming soon</tspan>
                </text>
              </svg>
              <div class="card-body">
                <p class="card-text">Поле для новой игры</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/game']">Play</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Find games</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>


<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our getting started guide.</p>
  </div>
</footer>


