

<div class="container">

    <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate>

        <div class="row">
          <div class="col-md-5 mb-3">
            <input type="text" class="form-control" value="Мой логин" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <input type="text" class="form-control" value="мое имя в системе" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <input type="text" class="form-control" placeholder="имя в системе">
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input type="text" class="form-control" placeholder="новое имя">
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <button class="form-control">сменить</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <input type="text" class="form-control" placeholder="пароль">
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input type="text" class="form-control" placeholder="новый пароль">
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <button class="form-control">сменить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
