<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">My game history</h6>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Недавние игры</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded"
           width="32" height="32"
           xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#000000"/>
        <image x="0" y="0" width="32" height="32" xlink:href="assets/KarkassonTableGame.png"/>
      </svg>
      <div class="col">
        <strong class="d-block text-gray-dark">Karkasson</strong>
        22.03.21 16:45 Имя комнаты: Gamers. Session: active.
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">присоедениться</button>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded"
           width="32" height="32"
           xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#000000"/>
        <image x="0" y="0" width="32" height="32" xlink:href="assets/KarkassonTableGame.png"/>
      </svg>
      <div class="col">
        <strong class="d-block text-gray-dark">Karkasson</strong>
        22.03.21 16:20 Имя комнаты: Tests. Session active.
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">присоедениться</button>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded"
           width="32" height="32"
           xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#000000"/>
        <image x="0" y="0" width="32" height="32" xlink:href="assets/KarkassonTableGame.png"/>
      </svg>
      <div class="col">
        <strong class="d-block text-gray-dark">Karkasson</strong>
        22.03.21 14:30 Имя комнаты: Happiness. Session active.
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">присоедениться</button>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded"
           width="32" height="32"
           xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#000000"/>
        <image x="0" y="0" width="32" height="32" xlink:href="assets/KarkassonTableGame.png"/>
      </svg>
      <div class="col">
        <strong class="d-block text-gray-dark">Karkasson</strong>
        21.03.21 18:26 Имя комнаты: Gamers. Session ended. Ваш счет: 78. Место 3.
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded"
           width="32" height="32"
           xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#000000"/>
        <image x="0" y="0" width="32" height="32" xlink:href="assets/KarkassonTableGame.png"/>
      </svg>
      <div class="col">
        <strong class="d-block text-gray-dark">Karkasson</strong>
        19.03.21 19:44 Имя комнаты: Gamers. Session ended. Ваш счет: 128. Место 2.
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded"
           width="32" height="32"
           xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#000000"/>
        <image x="0" y="0" width="32" height="32" xlink:href="assets/KarkassonTableGame.png"/>
      </svg>
      <div class="col">
        <strong class="d-block text-gray-dark">Karkasson</strong>
        19.03.21 13:25 Имя комнаты: Gamers. Session ended. Ваш счет: 136. Место 1.
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded"
           width="32" height="32"
           xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#000000"/>
        <image x="0" y="0" width="32" height="32" xlink:href="assets/KarkassonTableGame.png"/>
      </svg>
      <div class="col">
        <strong class="d-block text-gray-dark">Karkasson</strong>
        18.03.21 19:02 Имя комнаты: Gamers. Session ended. Ваш счет: 71. Место 4.
      </div>
    </div>
  </div>
</main>
