
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <svg class="bd-placeholder-img mr-2 rounded"
         width="48" height="48"
         xmlns="http://www.w3.org/2000/svg">
      <rect width="48" height="48" fill="#000000"/>
      <image x="0" y="0" width="48" height="48" xlink:href="assets/KarkassonTableGame.png"/>
    </svg>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Open active sessions: Karkasson</h6>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="media text-muted pt-3">
      <div class="col">
        <strong class="d-block text-gray-dark">Room name: Gamers.</strong>
        participants: 3/6
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connect</button>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <div class="col">
        <strong class="d-block text-gray-dark">Room name: Soul hunters.</strong>
        participants: 4/6
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connect</button>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <div class="col">
        <strong class="d-block text-gray-dark">Room name: Adventure.</strong>
        participants: 1/6
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connect</button>
      </div>
    </div>
  </div>
</main>
